<!-- написание ответа работодателем -->
{% extends 'about_company/about_vacancies/VacancyBase.html' %}
{% block vacancy %}
      <div class="col-12 col-lg-8">
        <div class="card">
          <div class="card-body px-4 pb-4 tab-content">
            <!-- Tab -->
            <section>
              <h2 class="h4 pt-2 pb-3">{{ vacancy.title }}</h2>
              {% if messages %}  <!-- сообщения об ошибках -->
                {% for message in messages %}
                 <div class="message {{ message.tags }}" style="color: red;" align="right">
                  {{ message }}
                 </div>
                {% endfor %}
                {% endif %}
              <form enctype="multipart/form-data" method="POST">
                {% csrf_token %}
                <div class="form-group pb-2">
                  {{ form.answer_text }}
                </div>
                <div class="form-group pb-2">
                  <input type="submit" class="btn btn-info" value="Отправить">
                </div>
              </form>
            </section>
            <!-- END Tab -->
          </div>
        </div>
      </div>
{% endblock %}