{% extends 'about_company/about_vacancies/VacancyBase.html' %}
{% block vacancy %}
<!-- Страница со списком вакансий компании -->
      <div class="col-12 col-lg-8">
        <div class="card">
          <div class="card-body px-4 pb-4">
            <section class="tab-pane fade show active">
              <h2 class="h4 pt-2 pb-3">Вакансии</h2>
              {% if vacancies_list %}
              {% for vacancy in vacancies_list %}
              <!-- vacancy state 1 -->
              <div class="card mt-3">
                <div class="card-body px-4">
                  <div class="row align-items-center">
                    <div class="col-6 col-lg-8">
                      <a href="{% url 'onevacancy' vacancy.id %}" class="mb-1">{{ vacancy.title }}</a>
                      <p class="mb-1">
                        {% load humanize %}
                        <span class="mr-4">{{ vacancy.salary_max|intcomma }}</span>
                        <a href="{% url 'my_vacancy_view' vacancy.id %}" class="text-info">
                          Отклики - {{ vacancy.applications.count }}
                        </a>
                      </p>
                    </div>
                    <div class="col-6 col-lg-4 text-right">
                      <a href="{% url 'my_vacancy_edit' vacancy.id %}" class="btn btn-outline-info">Изменить</a>
                    </div>
                  </div>
                </div>
              </div>
              {% endfor %}
              <div class="row align-items-center">
                <div class="card-body px-4">
                <a href="{% url 'create_a_vacancy' %}" class="btn btn-outline-info">Создать</a>
                </div>
              </div>
              {% else %}
              <div class="card mt-3">
                <div class="card-body px-4">
                  <div class="row align-items-center">
                    <div class="col-6 col-lg-8">
                      <p class="mb-1">
                        У Вас пока нет созданных вакансий
                      </p>
                    </div>
                    <div class="col-6 col-lg-4 text-right">
                      <a href="{% url 'create_a_vacancy' %}" class="btn btn-outline-info">Создать</a>
                    </div>
                  </div>
                </div>
              </div>
              {% endif %}
            </section>
          </div>
        </div>
      </div>
{% endblock %}