{% extends 'base.html' %}
{% block container %}

  <main class="container mt-3 pb-5">
    <div class="row mt-5">
      <div class="col-12 col-lg-2">
        <div class="pl-3 mb-5">
          <p><a href="javascript:history.back()">Назад</a></p>
        </div>
      </div>
      <div class="col-12 col-lg-8">
        <section class="pl-3">
          <a href="{% url 'companycard' vacancy.company.id %}"><img src="{{ vacancy.company.logo.url }}" width="130" height="80" alt=""></a>
          <div class="d-flex align-items-baseline align-content-baseline">
            <h1 class="h2 mt-4 font-weight-bold" >{{ vacancy.title }}</h1>
            {% load humanize %}
            <p class="m-0 pl-3">{{ vacancy.salary_min|intcomma }} – {{ vacancy.salary_max|intcomma }} Р</p>
          </div>
          <p class="mt-2">{{ vacancy.skills }}</p>
          <p class="text-muted mb-4">{{ vacancy.company.name }} ({{ vacancy.company.employee_count }} человек), {{ vacancy.company.location }} или удаленно</p>
          <div style="line-height: 1.8;">
            {{ vacancy.description|safe }}
          </div>

          {% if request.user.is_authenticated %}  <!-- Если пользователь авторизован - можно откликнуться -->
            {% if can_answer %}  <!-- Если у пользователя есть резюме - можно откликнуться,
            если нет - нужно создать -->
              {% if has_application %}   <!-- Если пользователь уже откликнулся на эту вакансию - второй
               раз откликнуться нельзя-->
                <p class="h5 mt-3 font-weight-bold text-center">У вас уже есть отклик на эту вакансию</p>
              {% else %}
              <form class="card mt-4 mb-3" enctype="multipart/form-data" method="POST">
                {% csrf_token %}
                <div class="card-body mx-3">
                  <p class="h5 mt-3 font-weight-normal">Отозваться на вакансию</p>
                  {% for message in messages %}
                  <div class="message {{ message.tags }}" style="color: red;" align="right">
                    {{ message }}
                  </div>
                  {% endfor %}
                  {% for f in form %}
                  <div class="form-group">
                    <label class="mb-1">{{ f.label }}</label>
                    {{ f }}
                  </div>
                  {% endfor %}
                  <div class="checkbox mb-3">
                  <button class="btn btn-primary btn-lg btn-block" type="submit">Отозваться</button>
                  </div>
                </div>
              </form>
              {% endif %}  <!-- наличие отклика -->
            {% else %}
              <div class="card-body mx-3" style="background-color: #e6e6e6">
                <p class="h5 mt-3 font-weight-bold text-center">Чтобы откликнуться нужно создать резюме</p>
                <div class="mt-4 text-center"><a href="{% url 'resume_create' %}">Создать</a></div>
              </div>
          {% endif %}   <!-- наличие резюме -->
          {% else %}
          <div class="card-body mx-3" style="background-color: #e6e6e6">
            <p class="h5 mt-3 font-weight-bold text-center">Вы не авторизованны, поэтому не можете оставить отклик</p>
            <div class="mt-4 text-center"><a href="/register">Зарегистрируйтесь</a> или <a href="/login">войдите</a></div>
          </div>
          {% endif %}  <!-- авторизация пользователя -->
        </section>
      </div>
    </div>
  </main>
{% endblock %}
