{% extends 'accounts/profile_base.html' %}
{% block profile %}
      <div class="col-12 col-lg-8">
        <div class="card">
          <div class="card-body px-4 pb-4">
            <section class="tab-pane fade show active">
              <h2 class="h4 pt-2 pb-3">{{ request.user.username }}</h2>
              <form action="{% url 'profile_edit' %}" enctype="multipart/form-data">
                <div class="form-group pb-2">
                      <label class="mb-2 text-dark">{{ form_user.email.label }}</label>
                      {{ form_user.email }}
                </div>
                <div class="row">
                  <div class="col-12 col-md-6">
                    <div class="form-group pb-2">
                      <label class="mb-2 text-dark">{{ form_user.last_name.label }}</label>
                      {{ form_user.last_name }}
                    </div>
                  </div>
                  <div class="col-12 col-md-6">
                    <div class="form-group pb-2">
                      <label class="mb-2 text-dark">{{ form_user.first_name.label }}</label>
                      {{ form_user.first_name }}
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-12 col-md-6">
                    <div class="form-group pb-2">
                      <label class="mb-2 text-dark">{{ form_profile.birthday.label }}</label>
                      {{ form_profile.birthday }}
                    </div>
                  </div>
                  <div class="col-12 col-md-6">
                    <div class="form-group pb-2">
                      <label class="mb-2 text-dark">Страна и город</label>
                      {{ form_profile.country }} {{ form_profile.city }}
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-12 col-md-6">
                    <div class="form-group pb-2">
                      <a href="#">Мои отклики
                        {{ request.user.applications.count }}</a>
                    </div>
                  </div>
                  <div class="col-12 col-md-6">
                    <div class="form-group pb-2">
                      <a href="#">Предложения</a>
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <input type="submit" class="btn btn-info" value="Изменить">
                </div>
                <div class="form-group">
                  <a class="btn btn-danger" href="#">Удалить аккаунт</a>
                </div>
              </form>
            </section>
          </div>
        </div>
      </div>

{% endblock %}