{% extends 'base.html' %}
{% block container %}
<main class="container mt-3 pb-5">
  <div class="navbar mt-1">
    <p><a href="javascript:history.back()">Назад</a></p>
  </div>
    <div class="row mt-5">
      <div class="col-12 col-lg-4">
        <aside class="pt-3 pb-4 px-4 mb-5 card">
          <h1 class="h4 pt-2 pb-2">Информация</h1>
          <div class="nav flex-column nav-pills">
            {% if request.user.resume %}
            <a class="nav-link" href="{% url 'resume' %}">1. Мое резюме</a>
            {% else %}
            <a class="nav-link" href="{% url 'resume_create' %}">1. Мое резюме</a>
            {% endif %}
            <a class="nav-link" href="#">2. Мои отклики</a>
            {% if request.user.company %}
            <a class="nav-link" href="{% url 'user_company' request.user.company.id %}">3. Моя компания</a>
            {% else %}
            <a class="nav-link" href="{% url 'create_a_company' %}">3. Моя компания</a>
            {% endif %}
          </div>
        </aside>
      </div>
      {% block profile %}

      {% endblock %}
       </div>
</main>
{% endblock %}
