{% extends 'base.html' %}
{% block container %}
<main class="container mt-3 pb-5">
  <div class="navbar mt-1">
    <p><a href="javascript:history.back()">Назад</a></p>
  </div>
    <div class="row mt-5">
      <div class="col-12 col-lg-4">
        <aside class="pt-3 pb-4 px-4 mb-5 card">
          <h1 class="h4 pt-2 pb-2">Информация</h1>
          <div class="nav flex-column nav-pills">
            {% if request.user.resume %}
            <a class="nav-link" href="{% url 'resume' %}">1. Мое резюме</a>
            {% else %}
            <a class="nav-link" href="{% url 'resume_create' %}">1. Мое резюме</a>
            {% endif %}
            <a class="nav-link" href="#">2. Мои отклики</a>
            {% if request.user.company %}
            <a class="nav-link" href="{% url 'my_company_edit' %}">3. Моя компания</a>
            {% else %}
            <a class="nav-link" href="{% url 'create_a_company' %}">3. Моя компания</a>
            {% endif %}
          </div>
        </aside>
      </div>
      <div class="col-12 col-lg-8">
        <div class="card">
          <div class="card-body px-4 pb-4">
            <section class="tab-pane fade show active">
              <h2 class="h4 pt-2 pb-3">{{ request.user.username }}</h2>
              {% if messages %}  <!- сообщения об ошибках ->
                {% for message in messages %}
                 <div class="message {{ message.tags }}" style="color: red;" align="right">
                  {{ message }}
                 </div>
                {% endfor %}
              {% endif %}
              <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="form-group pb-2">
                      <label class="mb-2 text-dark">{{ form_user.email.label }}</label>
                      {{ form_user.email }}
                </div>
                <div class="row">
                  <div class="col-12 col-md-6">
                    <div class="form-group pb-2">
                      <label class="mb-2 text-dark">{{ form_user.last_name.label }}</label>
                      {{ form_user.last_name }}
                    </div>
                  </div>
                  <div class="col-12 col-md-6">
                    <div class="form-group pb-2">
                      <label class="mb-2 text-dark">{{ form_user.first_name.label }}</label>
                      {{ form_user.first_name }}
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-12 col-md-6">
                    <div class="form-group pb-2">
                      <label class="mb-2 text-dark">{{ form_profile.birthday.label }}</label>
                      {{ form_profile.birthday }}
                    </div>
                  </div>
                  <div class="col-12 col-md-6">
                    <div class="form-group pb-2">
                      <label class="mb-2 text-dark">Страна и город</label>
                      {{ form_profile.country }} {{ form_profile.city }}
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <input type="submit" class="btn btn-info" value="Сохранить">
                </div>
              </form>
            </section>
          </div>
        </div>
      </div>
    </div>
</main>

{% endblock %}